*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --number-rows: 0;
  height: 100%;
}

body {
  background-color: hsl(240, 3%, 7%);
  height: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 500px;
  margin: auto;
  position: relative;
}

header {
  --height: 51px;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3a3a3c;
  width: 100%;
  height: 51px;
  position: relative;
  padding: 5px;
  margin-bottom: 25px;
}

header h1 {
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36 px;
  cursor: pointer;
  text-align: center;
  color: #d7dadc;
}

.icon img {
  height: 20px;
  width: 20px;
  color: gray;
}

.keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
}

.keyboard-row {
  touch-action: manipulation;
  width: 100%;
  display: flex;
  margin: 0 auto 8px;
  padding: 0 8px;
  gap: 6px;
}

.keyboard-row:nth-of-type(2) {
  padding: 0 30px;
}

.key-tile {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  height: 58px;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  cursor: pointer;
  display: grid;
  place-items: center;
  flex: 1;
  color: white;
  fill: white;
  user-select: none;
  /* transition: background-color 0.3s ease-in-out; */
}

.key-tile.big {
  font-size: 12px;
  flex-grow: 1.5;
}

.key > svg {
  width: 1.75em;
  height: 1.75em;
}

.key-tile.wrong {
  background-color: hsl(240, 2%, 23%);
}
.key-tile.wrong:hover {
  background-color: hsl(240, 2%, 33%);
}

.key-tile.wrong-location {
  background-color: hsl(49, 51%, 47%);
}
.key-tile.wrong-location:hover {
  background-color: hsl(49, 51%, 57%);
}

.key-tile.correct {
  background-color: hsl(115, 29%, 43%);
}
.key-tile.correct:hover {
  background-color: hsl(115, 29%, 53%);
}
.key-tile:hover,
.key-tile:focus {
  --lightness-offset: 10%;
}

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(var(--number-rows), 4em);
  grid-template-rows: repeat(6, 4em);
  gap: 0.25em;
  margin-bottom: 1em;
}

.tile {
  color: white;
  border: 0.05em solid hsl(240, 2%, 23%);
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}

/* .tile[data-state="active"] {
  border-color: hsl(200, 1%, 34%);
  animation: zoom-in-zoom-out 50ms ease;
  background-color: red;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
} */

.tile.wrong {
  border: none;
  background-color: hsl(240, 2%, 23%);
}
.tile.wrong-location {
  border: none;
  background-color: hsl(49, 51%, 47%);
}
.tile.correct {
  border: none;
  background-color: hsl(115, 29%, 43%);
}

/* .tile.shake {
  animation: shake 250ms ease-in-out;
}
.tile.dance {
  animation: dance 500ms ease-in-out;
}
.tile.flip {
  transform: rotateX(90deg);
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  75% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes dance {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: 0.75em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}
.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
  pointer-events: none;
} */
/* 
svg {
  pointer-events: none;
} */

h3 {
  font-size: 1em;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: hsl(240, 3%, 7%); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #19191a;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 500px; /* Could be more or less, depending on screen size */
  border-radius: 15px;
  color: #d7dadc;
  text-align: center;
}
.modal-content-help {
  margin-top: 15px;
}
.modal-content img {
  width: 100%;
  height: auto;
  pointer-events: none;
}
.modal a,
.modal a:hover,
.modal a:visited {
  color: white;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.stats-group {
  display: flex;
  text-align: center;

  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .board {
    grid-template-columns: repeat(var(--number-rows), 3.25em);
    grid-template-rows: repeat(6, 3.25em);
    gap: 0.10em;
  }

  .modal-content {
    width: 80vw;
  }
  .key-tile {
    user-select: none;
  }
}
#share-button {
  display: none;
  text-align: center;
  width: 108px;
  height: 36px;
  border-radius: 5px;
  border-color: #19191a;
  margin: auto;
  color: #d7dadc;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: hsl(115, 29%, 43%);
}
